/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

/* For sticky footer - used flexbox from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
}

body {
  background-color: rgb(227, 236, 246);
    /* css so footer is at bottom of viewport */
    display: flex;
    flex-direction: column;
}

/* Main content */
main {
    /* css so footer is at bottom of viewport */
    flex: 1 0 auto;
}

/* Footer */
footer {
    /* css so footer is at bottom of viewport */
    flex-shrink: 0;
    font-size: .5rem;
}

/* hide sections until they are shown via the click events */
#questions,
#final,
#highscores,
#correct-wrong {
    display: none;  
  } 

/* Remove bullet points from answers list */
ul.nobullets {
list-style-type: none;
}

#start-btn {
    background-color: #fa8bff;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}
/* Answer button styling */
.ansBtn,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
    box-shadow: none;
    outline: none;
    background: linear-gradient(90deg,rgb(113, 231, 235) 0%, rgb(180, 103, 175) 100%);
    border-radius: 4px;
}

.ansBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(219, 172, 208, 0.664);
    transform: scale(1.02);
    transform: 100ms;
}

/* Media queries for background image from https://web.dev/optimize-css-background-images-with-media-queries/ */

/* Mobile */
@media (max-width: 480px) {
    body {
        background-color: lightblue;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
       
    }
}

/* Desktop */
@media (min-width: 1025px) {
    body {
	   
   }
}